.snackbar-container {
  color: #fff!important;
  border-radius: 0!important;
  display: flex;
  justify-content: center;
  max-width: none!important;
  min-width: 100%!important;
  margin: 0;
  left: 0!important;
  height: 60px!important;
  transform: none!important
}

.snackbar-container p {
  font-weight: 600!important;
  text-align: center!important;
  font-size: 1rem!important
}

.snackbar-container::after {
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background: #fff;
  opacity: .1;
  content: "";
  animation: snackbar-progress 2s linear forwards;
  pointer-events: none
}

@keyframes snackbar-progress {
  from {
      width: 0
  }

  to {
      width: 100%
  }
}